.header {
    position: relative;
    cursor: default;
    top: 30px;
    left: 0px;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    font-family: 'DynaPuff', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 48px;
}

h1 {
    position: relative;
    cursor: default;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

h1::after {
    content: "";
    width: 100%;
    height: .1em;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: default;
    background-image: repeating-linear-gradient(to right, rgb(0, 0, 0));
    border-radius: 40%;
    scale: 0;
    transition: scale 200ms ease;
}

h1:hover::after {
    cursor: default;
    scale: 1;
}

.about-me-title {
    text-align: left;
    font-family: 'unkempt', sans-serif;
    font-size: 30px;
    padding: 0px 20px 0px 40px;
    animation: about-me 1s infinite;
}

.about-me-text {
    text-align: left;
    font-family: 'unkempt', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding: 0px 20px 0px 40px;
}

body{
    cursor: default;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    display: block;
    background-image: radial-gradient(circle at top left,
        white,
         rgb(255, 255, 0),
          rgb(255, 191, 0),
           rgb(212, 120, 0),
            rgb(255, 81, 0),
             rgb(255, 0, 0),
              rgb(255, 81, 0),
               rgb(212, 120, 0),
                rgb(255, 191, 0),
                 white);
    background-size: 300% 300%;
    color: #000000;
    padding: 0px;
    margin: 0;
    letter-spacing: 0.5px;
    background-attachment: fixed;

    animation-name: background-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.footer {
    font-family: 'DynaPuff', sans-serif;
    font-style: italic, sans-serif !important;
    font-weight: 400;
    font-size: 24px;
    padding: 0px 0px 35px 0px;
    position: relative;
    top: 20px;
    left: 0%;
}

/* needs to be added */

.heart-image {
    cursor: default;
    position: relative;
    top: -100px;
    left: 400px;
    align-self: center;
    filter: opacity(0);
}

.duck-image {
    cursor: default;
    position: relative;
    align-self: center;
    border: 4px #000000;
    border-style: dashed;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
    border-radius: 50px;
    transform: perspective(1000px);
    transition-property: transform;
    animation-name: duck-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: fit-content;
    min-width: 280px;
    margin: 0 auto;
}

.duck-image:active {
    scale: 150%;
}

.cute-duck-image {
    position: absolute;
    top: -45px;
    right: -60px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: rgb(0, 0, 0) 2px;
      box-shadow: 0 6px 15px rgb(0, 0, 0);
    border-style: hidden;
    
    scale: 0;
    transform-origin: center;
    transition: all 0.35s ease;
    pointer-events: fill;
    z-index: 10;

    content: '';
    background: rgba(252, 230, 29, 0);
}

.discord-logo-image {
    position: absolute;
    top: -50px;
    right: 270px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: rgb(0, 0, 0) 2px solid;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
    border-style: hidden;
    
    scale: 0;
    transform-origin: center;
    transition: all 0.35s ease;
    pointer-events: fill;
    z-index: 10;

    content: '';
    background: inherit;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 4em;
    padding: 0 20px;
}

.project-button,
.friend-button {
    font-family: 'Gorditas', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 14px 32px;
    background-color: rgb(237, 158, 30);
    border: 5px solid #643000;
    color: #000000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    border-radius: 1000px;
    transition: all 0.3s ease;
    
    width: fit-content;
    min-width: 280px;
    margin: 0 auto;
}

.project-button:hover {
    transform: translateY(-4px);
    background-color: #909692;
    border-color: #2c332e;
    box-shadow: 0 0 16px rgb(119, 119, 119), 0 0 25px rgb(255, 251, 0);
}

.project-button:hover .cute-duck-image {
    scale: 1;
    transform: rotate(25deg);
    animation: duck-pop 0.5s ease-in-out fixed;
    transition: ease 0.3s;
}

.friend-button:hover {
    transform: translateY(-4px);
    background-color: #8a65f9;
    border-color: #39176e;
    box-shadow: 0 0 16px rgb(166, 0, 255), 0 0 25px rgb(255, 251, 0);
}

.friend-button:hover .discord-logo-image {
    scale: 1;
    transform: rotate(-25deg);
    animation: duck-pop 0.5s ease-in-out fixed;
    transition: ease 0.3s;
}

@keyframes about-me {
    0% { color: black; }
    10% { color: yellow; }
    20% { color: orange; }
    30% { color: red; }
    40% { color: purple; }
    50% { color: blue; }
    60% { color: green; }
    80% { color: black; }
    90% { color: yellow; }
    100% { color: orange; }
}

@keyframes background-animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 0%; }
}

@keyframes duck-animation {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(180deg); }
    to { transform: rotateY(360deg); }
}

@keyframes duck-pop {
    0%   { scale: 0; transform: rotate(-20deg); }
    60%  { scale: 1.5; transform: rotate(25deg); }
    100% { scale: 1; transform: rotate(15deg); }
}